<!DOCTYPE html>
<html>
<head>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/3.0.1/vuex.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
	<link href="style.css" rel="stylesheet" type="text/css">
	<title>Developer Layout</title>
	<!-- <script src="js/login-logout.js" type="module"></script> -->
</head>
<body>
	<div id="app-7">
	  <div>
	    <form class="login" @submit.prevent="login">
	      <h1>Sign in</h1>
	      <label>User name</label>
	      <input required v-model="username" type="text" placeholder="Snoopy"/>
	      <label>Password</label>
	      <input required v-model="password" type="password" placeholder="Password"/>
	      <hr/>
	      <button type="submit">Login</button>
	    </form>
	  </div>
	</div>
	<script>
		methods: {
		 login: function () {
		   const { username, password } = this
		   this.$store.dispatch(AUTH_REQUEST, { username, password }).then(() => {
		     this.$router.push('/')
		   })
		 }
		}
		Vue.component('todo-item', {
		  props: ['todo'],
		  template: '<li>{{ todo.text }}</li>'
		})

		var app7 = new Vue({
		  el: '#app-7',
		  data: {
		    groceryList: [
		      { id: 0, text: 'Vegetables' },
		      { id: 1, text: 'Cheese' },
		      { id: 2, text: 'Whatever else humans are supposed to eat' }
		    ]
		  }
		})

	</script>
	<div class="text-center" id="header-group">

		<nav id="navbarCollapse">
				<img id="small-icon" src="images/logo.png">
				<img onclick="" id="hamburger" src="images/hamburger.svg">
		</nav>
		<!-- <img style="border-radius:50%;border:1px solid black;" src="images/drawing3.svg"> -->

		<object style="border-radius:50%;border:1px solid black;height:300px;" id="selfportrait-object" type="image/svg+xml" data="images/drawing3.svg">
                  </object>

		<h1 id="name" class="display-5">Jess Tucker</h1>
		<a href="#signup">
			<button id="header-signup">SIGN UP TODAY</button>
		</a>
	</div>
                  
	<div class="row">
		<div id="boxing" class="col-md-6">
			<img src="images/play-buutton-text.png">

		</div>
		<div id="leads" class="col-md-6">
			<div style="font-size:30px;" class="row">
				<div class="col-8 mx-auto">
					12 Handy Tips For
					Generating Leads Through<br>
					Cold Calling<br>
					<img src="images/rectangle.svg">
				</div>
			</div>
		</div>
	</div>
	<div id="misc" class="">
		<div id="misc-top" class="row row-eq-height">
			<div id="about-me" class="col-md-4">
				<div class="head1">ABOUT ME</div>
				<div class="head2">A few thing to know</div>
				<p class="lorem-1">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean at ullamcorper dui, in mattis libero. Curabitur eu diam augue. Maecenas blandit elementum vulputate. Etiam sollicitudin urna vel est tempus condimentum. 
				</p>
				<p class="lorem-1">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean at ullamcorper dui, in mattis libero. Curabitur eu diam augue. 
				</p>
			</div>
			<div class="col-md-1"></div>
			<div id="facts" class="col-md-7">
				<div class="head1">FACTS</div>
				<div class="head2">What makes us so good</div>
				<p class="lorem-1">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean at ullamcorper dui, in mattis libero. Curabitur eu diam augue. 
				</p>
				<div id="fact0"><img src="images/facts1.png"><span id="fact1" class="facts-desc">Lorem ipsum dolor sit amet vel est</span></div>
				<div class="facts-l"><img src="images/facts2.png"><span class="facts-desc facts-2">Lorem ipsum vel est tempus urna</span></div>
				<div  class="facts-l"><img src="images/facts3.png"><span class="facts-desc facts-2">Lorem ipsum dolor sit amet vel est</span></div>
			</div>
		</div>
		<div id="location" class="row">
			<div id="location-left" class="col-4 ">
				<div id="ll-inner" class="">
					<div class='head1'>LOCATION</div>
					<div class='head2'>We welcome you</div>
					<div id="address" class="lorem-1">
						8024 Calvin Hall Rd<br>
						Indian Land, SC 28277<br>
						<div id="hours">Hours: 8:00 AM - 5:00 PM</div>
					</div>
					<div>
						<button id="directions-button">GET DIRECTIONS</button>
					</div>
				</div>
			</div>
			<div id="location-right" class="col-8 my-auto row-eq-height">
				<!-- <img style="width:100%" src="images/map.png"> -->
			</div>
		</div>
	</div>
	<div id="signup" class="row">
		<div id="signup-left" class="col-4">
			<div id="signup-left-inner">
				Sometimes you need to receive these things in your inbox for free!
			</div>
		</div><div id="signup-right" class="col-8">
			<div id="signup-right-inner">
				<div id="signup-right-header">Sign up to receive the latest updates</div>
					<img style="margin-bottom:30px;margin-top:15px;" src="images/white-rectangle.svg"><br>
				<input placeholder="Email address"><button id="signup-button">SIGN UP</button>
			</div>
		</div>
	</div>
	<footer>
		<div id="footer-row" class="row">
			<div class="item col-md-2">
					<img src="images/logo.svg">
			</div>
			<div class="item col-md-3">
				<div class="item-inner">
					Sign up
					<div>To receive the latest updates</div>
				</div>
			</div>
			<div class="item col-md-3">
				<div class="item-inner">
					Our Process
					<div>Answers to your questions</div>
				</div>
			</div>
			<div class="item col-md-3">
				<div class="item-inner">
					Gallery
					<div>View photos and videos</div>
				</div>
			</div>
		</div>
		<p>
			There are advances being made in science and technology everyday, and a good example of this is the LCD monitor. LCD monitors have several benefits over the old chunky computer monitors that most users are familiar with. Old computer monitors, take up quite a bit of desktop space, put out a ton of heat, drain a ton of energy, and most often have low picture quality and resolution. Modern advances with the LCD computer monitors have changed a lot of that. The screen itself is flat, and very thin, needing very little desktop space, therefore giving you more room while working at your PC. A big advantage in my opinion is that LCD monitors don’t put off all the heat that the old monitors do.
		</p>
	</footer>

<body>

</html>