#path5805 {
    animation: wiggle .5s ease infinite;
}

#path5807{
	animation: wiggle .5s ease infinite;	
}

@keyframes wiggle {
  0% { transform: translate(0px, 0px); }
  33% { transform: translate(0px, -1px); }
  66% {transform: translate(0px, 1px);}
  100% { transform: translate(0px, 0px); }
} 